body{
	background:#EBEBEB;
}
.header{
	padding:50px;
	background:url(../img/beijing.jpg)no-repeat;
	background-size:100% auto;
}
nav{
	background: #fff;
}
.navbar-default{
	background:#fff;
}
.navbar-header > button.fabtn{
	background:#fff;
	border:none;
}
.navbar-default > li{
	display:inline-block;
	padding:10px;
	
}
.navbar-default > li > a{
	color:#000;
}
.navbar-default > li > a:hover{
	color:#E67E22;
	background:#fff;
}
.navbar-default > li.active{
	border-bottom:1px solid #e67e22;
	
}
.ora1{
	    color: #e67e22;	   
}
.bora1{
	 background:#E67E22;
	 color:#fff;
}
.bora1:hover{
	background:#404040;
	color:#fff;
}
.fabu{
	/*background: #fff;*/
	margin-top:25px;
}
.baidi{
	background:#fff;
	padding:25px;
	margin-bottom:30px;
}
.fabu .text-center .img-responsive{
		margin-top:25px;
	
}
.fabu .article{
	margin:40px auto;
	font-size:18px;
	line-height:20px;
	text-align:left;
	color:#444443;
}
.fabu .btnhezi{
	
	text-align: left;
}
.clearfix{
	overflow:hidden;
	*zoom:1;
}
.clearfix:after{
	clear:both;
	display:table;
	content:"";
	width:0;
}
.fabu .post-footer{
	border-top:1px solid #33B9F8;
	margin-top:30px;
}
.fabu .post-footer .tag-list{	
	padding-top:30px;
	
}
.fabu .post-footer .tag-list > a{	
	color:#959595;
	
}
.fabu .post-footer .tag-list > a:hover{	
	color:#E67E22;
	text-decoration:none;
	
}
.title{
	    padding-bottom: 7px;
	    border-bottom: 1px solid #ebebeb;
	    margin-bottom: 21px; 
	    position:relative;
}
.title::after{
	content:"";
	width:90px;
	height:1px;
	background:#E67E22;
	position:absolute;
	left:0px;
	bottom:-1px;
}
.btng{
	padding:10px 70px;
	display:inline-block;
	border-radius:6px;
	text-decoration: none;
	transition:0.35s ease;
}
.btng:hover{
	text-decoration: none;
}
.tag-cloud > a{
	display:inline-block;
	border:1px solid #ebebeb;
	padding:2px 7px;
	margin:0 7px 7px 0;
	transition: all 0.2s ease; 
	color:#959595;
}
.tag-cloud > a:hover{
	background:#E67E22;
	color:#fff;
	text-decoration: none;
}
.pagination > li > a{
	background: #E67E22;
	color:#fff;
	margin-right:10px;
	border-radius: 5px;
}
@media(min-width:768px){
	.fabtn{
		display:none;
	}
	
}
@media(max-width:767px){
	.navbar-default li{
		display:block;
		text-align: left;
	}
}
